registry=https://registry.npmmirror.com
strict-ssl=false
fund=false
audit=false
disturl=https://npmmirror.com/mirrors/node
sass_binary_site=https://npmmirror.com/mirrors/node-sass
electron_mirror=https://npmmirror.com/mirrors/electron/
sharp_dist_base_url=https://npmmirror.com/mirrors/sharp
